<link rel="stylesheet" type="text/css" href="/front/layout/footer.css"/>
<!-- section -->
<!--
<div class="section foot_menu_sec">
	<div class="inside">
		<ul class="foot_menu">
			<li><a href="nolink"><span>이용약관</span></a></li>
			<li><a href="nolink"><span>개인정보처리방침</span></a></li>
			<li><a href="nolink"><span>저작권정책</span></a></li>
		</ul>
	</div>
</div>
-->
<!-- // section -->
<!-- section -->
<div class="section add_sec">
	<div class="inside">
		<!--
		<div class="family_sel_box">
			<div class="custom_selui family_sel">
				<select id="familySel">
					<option value="">관련사이트</option>
					<option value="http://www.naver.com">네이버</option>
				</select>
				<label for="familySel"></label>
			</div>
			<button id="familySelBtn" type="button"><span>이동</span></button>
		</div>
		-->
		<div class="footer_logo"></div>
		<div class="info">
			<div class="address">
				<div>
					04066 서울특별시 마포구&nbsp;&nbsp;
					<br class="only_mobile">
					와우산로 94(상수동) 홍익대학교
				</div>
				<div>
					Tel: +82-2-320-1114&nbsp;&nbsp;
					<br class="only_mobile">
					Fax: +82-2-320-1114&nbsp;&nbsp;
					<br class="only_mobile">
					webmaster@hongik.ac.kr
				</div>
			</div>
		</div>
		<div class="copyright"></div>
		<div class="sns_links">
			<a class="ico_sns_0" href="https://www.facebook.com/hongik1946 " target="_blank" title="페이스북"></a>
			<a class="ico_sns_1" href="https://www.Instagram.com/hongik_university/" target="_blank" title="인스타그램"></a>
			<a class="ico_sns_2" href="https://www.youtube.com/channel/UCSIe3YfpDIoc9BiBSev60fg" target="_blank" title="유튜브"></a>
			<a class="ico_sns_3" href="https://blog.naver.com/hongik_univ" target="_blank" title="네이버블로그"></a>
			<a class="ico_sns_4" href="https://www.weibo.com/p/1002066078048514/home?from=page_100206&mod=TAB&is_all=1" target="_blank" title="웨이보"></a>
		</div>
	</div>
</div>
<!-- // section -->
<script type="text/javascript" src="/front/layout/footer.js"></script>